h1 {
  width: 300px;
  height: 80px;
  font-family: "Sofia", sans-serif;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
  font-style: italic;
  color: #d0cbcb;
  

}

.card {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #161717;
  border-color: rgb(0, 0, 0);
  background-image: url("assets/background.png");
  background-size: 230px 305px;
}
.card:hover {
  scale: 1.1;
}
/* CARD FRONT */
.card-title {
  font-size: 19px;
  font-family: "Sofia", sans-serif;
  margin-bottom: 10px;
  color: whitesmoke;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
  color: #d0cbcb;
}
.card-image {
  width: 120px;
  height: 190px;
  overflow: hidden;
  margin: 0 auto;
  background-color: whitesmoke;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-image: url("assets/insidecard.jpg");
  background-size: 170px 180px;
  background-position: center;
}
.card-description {
  font-family: "Sofia", sans-serif;
  padding: 10px;
  font-size: 20px;
  color: #d0cbcb;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
}
/* CARD BACK */
.card-title-back {
  font-size: 15px;
  font-family: "Sofia", sans-serif;
  margin-bottom: 2px;
  color: #d0cbcb;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
}
.card-description-back {
  font-size: 5px;

  font-family: sans-serif;
  color: #d0cbcb;
  margin-left: 5px;
  margin-right: 5px;

  padding: 5px;
}

/* Nav */
.nav-link {
  color: #d0cbcb;
  font-family: "Sofia", sans-serif;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
}

body {
  background-color: rgb(255, 243, 243);
}

.flip-card {
  background-color: transparent;
  width: 230px;
  height: 300px;
  perspective: 1000px;
  margin: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-container {
  display: flex;
  justify-content: center;
}
body {
  background-color: #090909;
 background-image: url(assets/testnewbg.png);
  background-size: cover;
  background-repeat: repeat;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
p {
  color: rgb(254, 254, 254);
  margin-bottom: 2px;
  font-size: 5px;
  text-shadow: 3px 4px 3px rgb(177, 168, 4);
}
.cardreading{
display: flex;
justify-content: center;
}


.homegif {
opacity: 50%;
margin-left: 15px;
overflow: hidden;

}
