h1 {
  width: 300px;
  height: 80px;
  font-family: "Sofia", sans-serif;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
  font-style: italic;
  color: #d0cbcb;
  font-size: 37px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 30px;
    width: 300px;
  }
}

.card {
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.715);
  background-image: url("assets/background.png");
  background-size: 280px 309px;
}
.card:hover {
  scale: 1.1;
}
/* CARD FRONT */
.card-title {
  font-size: 20px;
  font-family: "Sofia", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: whitesmoke;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
  color: #d0cbcb;
}
.card-image {
  width: 210px;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
  background-color: whitesmoke;
  border: 2px;
  border-radius: 30px;
  background-image: url("assets/cardbg1.png");
  background-size: 240px 250px;
  background-position: center;
}
.card-description {
  font-family: "Sofia", sans-serif;
  padding: 10px;
  font-size: 20px;
  color: #d0cbcb;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
}
/* CARD BACK */
.card-title-back {
  font-size: 17px;
  font-family: "Sofia", sans-serif;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  color: #d0cbcb;
  text-align: center;
  text-shadow: 4px 4px 4px rgb(177, 168, 4);
}
.card-description-back {
  font-size: 10px;
  font-family: sans-serif;
  color: rgba(245, 245, 245, 0.694);
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
}

/* Nav */
.nav-link {
  color: #d0cbcb;
  font-family: "Sofia", sans-serif;
  text-shadow: 6px 5px 6px rgb(177, 168, 4);
  width: 165px;
  height: 165px;
  font-size: 10px;
}
@media (max-width: 1024px) {
  .nav-link {
    font-size: 15px;
    width: 190px;
  }
}

body {
  background-color: rgb(255, 243, 243);
}

.flip-card {
  background-color: transparent;
  width: 280px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-container {
  display: flex;
  justify-content: center;
}
body {
  background-color: #090909;
  background-image: url(assets/homebg.png);
  background-size: cover;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
p {
  color: whitesmoke;
  margin-bottom: 1px;
  font-size: 10px;
  text-shadow: 2px 2px 2px rgb(177, 168, 4);
  justify-content: center;
}
.cardreading {
  display: flex;
  justify-content: center;
}

.homegif {
  opacity: 50%;
  margin-left: 15px;
  overflow: hidden;
}
